* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html , body{
        width: 100%;
        height: 100%;
    }
    #main{
        
        width: 100%;
        height: 100%;background-color: rgb(207, 219, 228);
    
    }
    .card{
        width: 200px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        border-radius: 10px;
    }
     .card img{
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        
    } 
    img:hover{
        height:120% ;
    
    }
    #card1{
        left: 25%;
    }
    #card3{
        left: 75%;
    }
    
    
    
    